class Counter extends Component {
    constructor(props) {
        super(props);
        this.state = {
            counter: 0
        }
    }

    increment = () => {
        this.setState(prevState => ({ counter: prevState + 1 }))
    }

    decrement = () => {
        this.setState(prevState => ({ counter: prevState === 1 ? prevState : prevState - 1 }))
    }

    render() {
        return (
            <div>
                <button onClick={this.increment}>+</button>
                <span>{ this.state.counter }</span>
                <button onClick={this.decrement}>-</button>
            </div>
        )
    }
}